  .movies {
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .movies__separate {
    margin-bottom: 70px;
    border: 1px solid #e8e8e8;
  }
