  .project {
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project__container {
    max-width: 1280px;
    width: 100%;
    padding: 110px 70px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
  }

  .project__title {
    width: 100%;
    margin: 0;
    padding-bottom: 23px;
    color: #000;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: -0.04em;

  }

  .project__definition-list {
    width: 100%;
    margin: 0;
    padding: 70px 0 97px;
    color: #000;
    display: flex;
    list-style: none;
    box-sizing: border-box;
    gap: 40px;
  }

  .project__definition-item {
    max-width: 550px;
  }

  .project__definition-heading {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  .project__definition-description {
    margin-top: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
  }


  .project__scheme {
    width: 100%;
    display: flex;
  }

  .project__back {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    gap: 15px;
  }

  .project__front {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
  }

  .project__back-duration {
    width: 100%;
    padding: 9px 0;
    color: #000;
    background-color: #3DDC84;
    text-align: center;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }

  .project__front-duration {
    width: 100%;
    padding: 9px 0;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    background-color: #F2F2F2;
  }
  
  .project__front-duration:hover {
    background-color: #3DDC84;
    transition: 0.55s ease-in-out;
  }

  .project__scheme-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #8B8B8B;
  }

  @media screen and (max-width: 800px) {
    .project__container {
      padding: 90px 50px;
    }

    .project__definition-description {
      font-size: 12px;
      line-height: 1.5;
      margin-top: 22px;
    }

    .project__definition-item {
      max-width: 319px;
    }

    .project__definition-list {
      padding-bottom: 81px;
      gap: 30px;
    }

    .project__back {
      width: 21%;
    }

    .project__scheme-title {
      font-weight: 400;
    }
  }

  @media screen and (max-width: 400px) {
    .project__container {
      padding: 71px 18px;
    }

    .project__title {
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: -0.04em;
      padding-bottom: 28px;
    }

    .project__definition-list {
      flex-direction: column;
      padding: 60px 0 48px;
      gap: 45px;
    }

    .project__definition-item {
      max-width: 284px;
    }

    .project__definition-heading {
      font-size: 18px;
      line-height: 1.22;
    }

    .project__definition-description {
      font-size: 11px;
      line-height: 1.45;
      margin-top: 16px;
    }

    .project__back-duration {
      font-size: 11px;
      line-height: 1.18;
      padding: 11px 0;
    }

    .project__front-duration {
      font-size: 11px;
      line-height: 1.18;
      padding: 11px 0;
    }

    .project__scheme-title {
      font-weight: 400;
      font-size: 11px;
      line-height: 1.18;
    }

    .project__back {
      width: 35%;
      gap: 10px;
    }

    .project__front {
      gap: 10px;
    }
  }
